<configuration>
    <mqtt>
        <listeners>
            <tcp-listener>
                <port>${HIVEMQ_MQTT_PORT}</port>
                <bind-address>${HOST}</bind-address>
            </tcp-listener>
            <websocket-listener>
                <port>${HIVEMQ_MQTT_PORT}</port>
                <bind-address>${HOST}</bind-address>
                <path>/mqtt</path>
            </websocket-listener>
        </listeners>
    </mqtt>
</configuration>
